.HeroSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section .Firstpart, .Secondpart {
    flex: 1;
    padding: 0 1.5em 0 1.5em;
}

section .Firstpart .bodytitle {
    font-size: 4.1em;
    line-height: 1.1em;
    margin: 0 0 .2em 0;
}

section .Secondpart {
    /* flex: 1; */
    /* background-color: rgb(228, 231, 236); */
    display: flex;

}

/* .Secondpart img {
    object-fit: cover;
} */

p {
    font-weight: 500;
    font-size: 1.1em;
    color: #666;
}

@media (max-width: 1024px) {
    section .Firstpart .bodytitle {
        font-size: 3.15em;
    }

    p {
        font-weight: 500;
        font-size: 1em;
    }

}

@media (max-width: 768px) {
    .HeroSection {
        display: flex;
        flex-direction: column-reverse;
    }

    section .Firstpart .bodytitle {
        font-size: 3.1rem;
        padding-top: .2em;
    }

    section .Secondpart {
        margin: 0;
        width: 100%;
    }

    .HeroSection img {
        width: 100%;
        height: auto;
        display: block;
    }

    p {
        font-weight: 500;
        font-size: 1.1em;
    }
}