.container {
    background-color: white;
    margin: 0;
    padding: 1em 1.5em;
    border-bottom: 2px solid var(--clr-img);
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

nav .menu-icon {
    display: none;
    cursor: pointer;
}

nav ul li:hover {
    background-color: var(--clr-bg);
}

.navbar-links {
    display: flex;
    list-style: none;
}

/* .navbar-links:hover {
    display: flex;
    list-style: none;
} */

.navbar-links a {
    text-decoration: none;
    margin: 0 1rem;
    color: var(--clr-header);
    font-weight: 500;
}

.navbar-links a:hover {
    color: var(--clr-sec-nav);
}

.navbar-links li button {
    background: none;
    border: none;
    font-weight: 500;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 1rem;
    padding: 0;
}

.navbar-links li button:hover {
    color: var(--clr-sec-nav);
}


@media (max-width: 768px) {
    nav .menu-icon {
        display: block;
        background-color: inherit;
        border: 0;
    }

    .navbar-links {
        display: none;
    }

    .navbar-links.open {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 48, 66);
        position: absolute;
        top: 70%;
        right: 0;
        width: 50%;
        border-radius: 4px;
        padding: 0;
    }

    .navbar-links li {
        margin: 0;
        text-align: left;
        width: 100%;
    }

    .navbar-links a,
    .navbar-links li button {
        display: block;
        padding: 16px 0;
        margin: 0;
        padding-left: 1.5em;
        color: white;
    }

    .navbar-links a:hover {
        color: white;
    }

    nav ul li:hover {
        background-color: rgba(1, 31, 43, 0.87);
    }
}