.container {
    background-color: white;
    margin: 0;
    padding: 1em 1.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

nav .menu-icon {
    display: none;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links:hover {
    display: flex;
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    margin-left: 2rem;
    color: black;
    font-weight: bold;
}

.navbar-links a:hover {
    font-weight: bold;
    background-color: #e8f4ff;
}



@media (max-width: 768px) {
    nav .menu-icon {
        display: block;
        background-color: inherit;
        border: 0;
    }

    .navbar-links {
        display: none;
    }

    .navbar-links.open {
        display: flex;
        flex-direction: column;
        background-color: #2f3131;
        position: absolute;
        top: 70%;
        right: 0;
        width: 50%;
        border-radius: 6px;
        padding: 0;
    }

    .navbar-links li {
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .navbar-links a {
        display: block;
        padding: 50px 0;
        margin-left: 0;
        color: white;
    }

    .navbar-links a:hover {
        font-weight: bold;
        background-color: #222424;
    }
}