@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 48, 66, 0.87);
  background-color: rgb(249, 254, 255);
}

/* #f5faff; */